<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffb100"/>

  <link rel="icon" href="../public/images/NYAM!.jpg">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

  <title>Restaurant for you</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip to content</a>
  <header>
    <h1>Nyam!</h1>
    <a href="#" id="hamburgerButton" class="header_menu">☰</a>
  </header>
  
  <nav id="navigationDrawer">
    <ul class="nav_list">
      <li class="nav_item"><a href="/">Home</a></li>
      <li class="nav_item"><a href="#/like">Favorite</a></li>
      <li class="nav_item"><a href="https://www.linkedin.com/in/salsabila-nur-ruslanti-512113272?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B7WDjeJTFR620FR73d15yjw%3D%3D">About Us</a></li>
    </ul>
  </nav>

  <main id="maincontent" tabindex="0">
  </main>

  <footer>
    <h2>Copyright &#169 2023 - Nyam!</h2>
  </footer>
</body>
</html>
